
# Игнорирование файлов VS Code
# Ignoring VS Code's files
/.vscode/

# Игнорирование виртуального окружения
# Ignoring virtual enviroment
venv/

# Игнорирование JSON-файлов для fixtures
# Ignoring JSON-files for fixtures
/*.json

# Игнорирование кеша Питона
# Ignoring Python's cache
__pycache__/

# Игнорирование csv файлов
# Ignoring csv files
*.csv

#Игнорирование секретных ключей настроек проекта для продакшена
#Ignoring settings's secret keys for production
secret.py